body {
	background: url(../img/ACVBpagetopper.jpg) center top no-repeat;
}
#wrapper {
	font-family: 'Roboto', sans-serif;
 	margin:465px auto 20px;
 	width: 1020px; 
 }

 .answer {
 	background: #f2f2f2;
 	 	border: 2px solid #d8d8d8;
 	border-radius: 6px 6px 6px 6px;
-moz-border-radius: 6px 6px 6px 6px;
-webkit-border-radius: 6px 6px 6px 6px;
	display: block;
	padding: 6px;
 }

 .answer:hover {
 	background: #FFF6A8;
 	cursor: pointer;
 }

.answer.selected {
	background: #8ac5ff;
}

 .q {font-weight: bold; }

 .answer .quiz_checkbox:before {
	font-family: "FontAwesome";
    content: "\f096";
    font-size: 15px;
    line-height: 21px;
    color: #3d3d3d;
    margin: 0 8px 0 0;
}

.fa.fa-facebook-official, .fa.fa-twitter-square {
	font-size: 24px;
	margin: 0 4px;
	color: blue;
}

.fa.fa-facebook-official:hover, .fa.fa-twitter-square:hover {
	color: #5A55FF;
}

 .answer.selected .quiz_checkbox:before {
    content: "\f046";
     margin: 0 6px 0 0;
}

#result {
	margin: 30px auto 100px;
	width: 400px;
}

.showResult {
	background: #FF244C;
	color: white;
	cursor: pointer;
	font-size: 24px;
	padding: 20px;
	text-align: center;
}

.sidebar {
	background: url(../img/sidebar.jpg) center top no-repeat;
	float: left;
	height: 1700px;
	margin-right: 15px;
	width: 350px;
	/*outline: 2px dashed red;*/
}

.quiz {
	float: left;
	width: 650px;
/*	outline: 2px dashed green;
*/}